.body{
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  background-color: #f4f4f4;
  padding: 0%;
  margin: 0%;
}

.header{
  background-color: #35424a;
  color: #f4f4f4;
  padding-top: 30px;
  min-height: 30px;
  border-bottom: 3px solid #e8491d;
}

.container{
  width: 80%;
  margin:auto;
  overflow: hidden;
}

.header .branding h1{
  padding-bottom: 10px;
  font-size: 40px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  margin: 0%;
}

.header a{
  color: #f4f4f4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
.header ul{
  padding: 0%;
  margin: 0%;
}
.header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
.header .branding{
  float: left;
}

.header nav{
  float: right;
  padding: 30px;
  }
.header .current a{
  font-size: 20px;
  font-weight: bold;
  color: #e8491d;
  }
.header a:hover{
      color: #cccccc;
      font-weight: bold;
  }
/* ----showcaseArea---- */


  /* -----signUp Form---- */
  .signupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:100px 600px 0px 600px;
    min-height: 400px;
    background-color: #35424a;
    border-radius: 10px;
  }
  .heading{
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
    color: #f4f4f4;
  }
  
  .input {
    padding: 10px;
    margin: 20px 10px 10px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    background-color: #2ecc71;
    color: #fff;
    width: 150px;
    cursor: pointer;
  }


  
  .mainArea{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:20px;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 100px;
  }
  .mainArea a{
    display: inline-block;
    padding-top: 10px;
    color: #0067b8;
    font-weight: bold;
    text-transform: uppercase;
  }
  .mainArea h3{
    padding-bottom:5px;
  }